<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lukai.mapper.RolePermissionMapper">

    <resultMap id="BaseResultMap" type="com.lukai.model.RolePermission">
            <id property="id" column="id" />
            <result property="roleId" column="role_id" />
            <result property="permissionId" column="permission_id" />
    </resultMap>

    <sql id="Base_Column_List">
        id,role_id,permission_id
    </sql>

    <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List" />
        from t_role_permission
        where  id = #{id} 
    </select>

    <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
        delete from t_role_permission
        where  id = #{id} 
    </delete>
    <insert id="insert" keyColumn="id" keyProperty="id" parameterType="com.lukai.model.RolePermission" useGeneratedKeys="true">
        insert into t_role_permission
        ( id,role_id,permission_id)
        values (#{id},#{roleId},#{permissionId})
    </insert>
    <insert id="insertSelective" keyColumn="id" keyProperty="id" parameterType="com.lukai.model.RolePermission" useGeneratedKeys="true">
        insert into t_role_permission
        <trim prefix="(" suffix=")" suffixOverrides=",">
                <if test="id != null">id,</if>
                <if test="roleId != null">role_id,</if>
                <if test="permissionId != null">permission_id,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
                <if test="id != null">#{id},</if>
                <if test="roleId != null">#{roleId},</if>
                <if test="permissionId != null">#{permissionId},</if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.lukai.model.RolePermission">
        update t_role_permission
        <set>
                <if test="roleId != null">
                    role_id = #{roleId},
                </if>
                <if test="permissionId != null">
                    permission_id = #{permissionId},
                </if>
        </set>
        where   id = #{id} 
    </update>
    <update id="updateByPrimaryKey" parameterType="com.lukai.model.RolePermission">
        update t_role_permission
        set 
            role_id =  #{roleId},
            permission_id =  #{permissionId}
        where   id = #{id} 
    </update>
</mapper>
