<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lukai.mapper.SystemInfoMapper">

    <resultMap id="BaseResultMap" type="com.lukai.model.SystemInfo">
            <id property="id" column="id" />
            <result property="systemCode" column="system_code" />
            <result property="name" column="name" />
            <result property="site" column="site" />
            <result property="logo" column="logo" />
            <result property="title" column="title" />
            <result property="description" column="description" />
            <result property="keywords" column="keywords" />
            <result property="shortcuticon" column="shortcuticon" />
            <result property="tel" column="tel" />
            <result property="weixin" column="weixin" />
            <result property="email" column="email" />
            <result property="address" column="address" />
            <result property="version" column="version" />
            <result property="closemsg" column="closeMsg" />
            <result property="isopen" column="isopen" />
            <result property="createTime" column="create_time" />
            <result property="createBy" column="create_by" />
            <result property="editTime" column="edit_time" />
            <result property="editBy" column="edit_by" />
    </resultMap>

    <sql id="Base_Column_List">
        id,system_code,name,site,logo,title,
        description,keywords,shortcuticon,tel,weixin,
        email,address,version,closeMsg,isopen,
        create_time,create_by,edit_time,edit_by
    </sql>

    <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List" />
        from t_system_info
        where  id = #{id} 
    </select>

    <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
        delete from t_system_info
        where  id = #{id} 
    </delete>
    <insert id="insert" keyColumn="id" keyProperty="id" parameterType="com.lukai.model.SystemInfo" useGeneratedKeys="true">
        insert into t_system_info
        ( id,system_code,name,site,logo,title,
        description,keywords,shortcuticon,tel,weixin,
        email,address,version,closeMsg,isopen,
        create_time,create_by,edit_time,edit_by)
        values (#{id},#{systemCode},#{name},#{site},#{logo},#{title},
        #{description},#{keywords},#{shortcuticon},#{tel},#{weixin},
        #{email},#{address},#{version},#{closemsg},#{isopen},
        #{createTime},#{createBy},#{editTime},#{editBy})
    </insert>
    <insert id="insertSelective" keyColumn="id" keyProperty="id" parameterType="com.lukai.model.SystemInfo" useGeneratedKeys="true">
        insert into t_system_info
        <trim prefix="(" suffix=")" suffixOverrides=",">
                <if test="id != null">id,</if>
                <if test="systemCode != null">system_code,</if>
                <if test="name != null">name,</if>
                <if test="site != null">site,</if>
                <if test="logo != null">logo,</if>
                <if test="title != null">title,</if>
                <if test="description != null">description,</if>
                <if test="keywords != null">keywords,</if>
                <if test="shortcuticon != null">shortcuticon,</if>
                <if test="tel != null">tel,</if>
                <if test="weixin != null">weixin,</if>
                <if test="email != null">email,</if>
                <if test="address != null">address,</if>
                <if test="version != null">version,</if>
                <if test="closemsg != null">closeMsg,</if>
                <if test="isopen != null">isopen,</if>
                <if test="createTime != null">create_time,</if>
                <if test="createBy != null">create_by,</if>
                <if test="editTime != null">edit_time,</if>
                <if test="editBy != null">edit_by,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
                <if test="id != null">#{id},</if>
                <if test="systemCode != null">#{systemCode},</if>
                <if test="name != null">#{name},</if>
                <if test="site != null">#{site},</if>
                <if test="logo != null">#{logo},</if>
                <if test="title != null">#{title},</if>
                <if test="description != null">#{description},</if>
                <if test="keywords != null">#{keywords},</if>
                <if test="shortcuticon != null">#{shortcuticon},</if>
                <if test="tel != null">#{tel},</if>
                <if test="weixin != null">#{weixin},</if>
                <if test="email != null">#{email},</if>
                <if test="address != null">#{address},</if>
                <if test="version != null">#{version},</if>
                <if test="closemsg != null">#{closemsg},</if>
                <if test="isopen != null">#{isopen},</if>
                <if test="createTime != null">#{createTime},</if>
                <if test="createBy != null">#{createBy},</if>
                <if test="editTime != null">#{editTime},</if>
                <if test="editBy != null">#{editBy},</if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.lukai.model.SystemInfo">
        update t_system_info
        <set>
                <if test="systemCode != null">
                    system_code = #{systemCode},
                </if>
                <if test="name != null">
                    name = #{name},
                </if>
                <if test="site != null">
                    site = #{site},
                </if>
                <if test="logo != null">
                    logo = #{logo},
                </if>
                <if test="title != null">
                    title = #{title},
                </if>
                <if test="description != null">
                    description = #{description},
                </if>
                <if test="keywords != null">
                    keywords = #{keywords},
                </if>
                <if test="shortcuticon != null">
                    shortcuticon = #{shortcuticon},
                </if>
                <if test="tel != null">
                    tel = #{tel},
                </if>
                <if test="weixin != null">
                    weixin = #{weixin},
                </if>
                <if test="email != null">
                    email = #{email},
                </if>
                <if test="address != null">
                    address = #{address},
                </if>
                <if test="version != null">
                    version = #{version},
                </if>
                <if test="closemsg != null">
                    closeMsg = #{closemsg},
                </if>
                <if test="isopen != null">
                    isopen = #{isopen},
                </if>
                <if test="createTime != null">
                    create_time = #{createTime},
                </if>
                <if test="createBy != null">
                    create_by = #{createBy},
                </if>
                <if test="editTime != null">
                    edit_time = #{editTime},
                </if>
                <if test="editBy != null">
                    edit_by = #{editBy},
                </if>
        </set>
        where   id = #{id} 
    </update>
    <update id="updateByPrimaryKey" parameterType="com.lukai.model.SystemInfo">
        update t_system_info
        set 
            system_code =  #{systemCode},
            name =  #{name},
            site =  #{site},
            logo =  #{logo},
            title =  #{title},
            description =  #{description},
            keywords =  #{keywords},
            shortcuticon =  #{shortcuticon},
            tel =  #{tel},
            weixin =  #{weixin},
            email =  #{email},
            address =  #{address},
            version =  #{version},
            closeMsg =  #{closemsg},
            isopen =  #{isopen},
            create_time =  #{createTime},
            create_by =  #{createBy},
            edit_time =  #{editTime},
            edit_by =  #{editBy}
        where   id = #{id} 
    </update>
</mapper>
