<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="generator.mapper.ClueMapper">

    <resultMap id="BaseResultMap" type="generator.domain.Clue">
            <id property="id" column="id" />
            <result property="ownerId" column="owner_id" />
            <result property="activityId" column="activity_id" />
            <result property="fullName" column="full_name" />
            <result property="appellation" column="appellation" />
            <result property="phone" column="phone" />
            <result property="weixin" column="weixin" />
            <result property="qq" column="qq" />
            <result property="email" column="email" />
            <result property="age" column="age" />
            <result property="job" column="job" />
            <result property="yearIncome" column="year_income" />
            <result property="address" column="address" />
            <result property="needLoan" column="need_loan" />
            <result property="intentionState" column="intention_state" />
            <result property="intentionProduct" column="intention_product" />
            <result property="state" column="state" />
            <result property="source" column="source" />
            <result property="description" column="description" />
            <result property="nextContactTime" column="next_contact_time" />
            <result property="createTime" column="create_time" />
            <result property="createBy" column="create_by" />
            <result property="editTime" column="edit_time" />
            <result property="editBy" column="edit_by" />
    </resultMap>

    <sql id="Base_Column_List">
        id,owner_id,activity_id,full_name,appellation,phone,
        weixin,qq,email,age,job,
        year_income,address,need_loan,intention_state,intention_product,
        state,source,description,next_contact_time,create_time,
        create_by,edit_time,edit_by
    </sql>
</mapper>
