<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="generator.mapper.CustomerRemarkMapper">

    <resultMap id="BaseResultMap" type="generator.domain.CustomerRemark">
            <id property="id" column="id" />
            <result property="customerId" column="customer_id" />
            <result property="noteWay" column="note_way" />
            <result property="noteContent" column="note_content" />
            <result property="createBy" column="create_by" />
            <result property="createTime" column="create_time" />
            <result property="editTime" column="edit_time" />
            <result property="editBy" column="edit_by" />
            <result property="deleted" column="deleted" />
    </resultMap>

    <sql id="Base_Column_List">
        id,customer_id,note_way,note_content,create_by,create_time,
        edit_time,edit_by,deleted
    </sql>
</mapper>
